body {
  font-family: VazirmatnRegular;
}
#headerTitle {
  font-family: VazirmatnBold;
  margin-top: 10px;
}
#formDiv {
  background-image: linear-gradient(to right, #6cfc5c, #6adbfb);
  padding: 20px;
}
#result {
  color: white;
  background-color: #c5d3e2;
}
